/* -- VERSÃO MOBILE FIRST --*/

/* CONFIGURAÇÕES INICIAIS */
* {margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;
font-weight: bold;}


/* PALETA DE CORES */
:root {
    --preto: #000500;
    --azulBebe: #00A7E1;
    --brancoNeve: #FFFBFF;
    --laranjaChocolate: #DA7635;
    --laranja: #E24E1B; }


body {height: 100%;
background: var(--laranja) url(imagens/fundo_2.webp);}


main {position: relative;
height: 100%;}

#landscape {background: var(--laranjaChocolate) url(imagens/pexels-hamburguer-1.jpg);
background-size: cover;
background-position: bottom;
height: 250px;
box-shadow: inset 0px -15px 15px rgba(0, 0, 0, 0.452);}

img {padding: 10px;}

form {height: 206x;}

#formulario {margin: auto;
background-color: rgb(235, 233, 233);
width: 80%;
height: 90%;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
margin-top: -30px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);
padding: 10px 0px 10px 10px;}

#formulario h2, p {text-align: center;}

label {vertical-align: middle;
cursor: pointer;
padding-left: 7%;}

h2, p {margin-bottom: 10px;}

h2 {padding-top: 15px;}

p, a {font-size: 14px;}

.campo {display: inline-block;
margin: auto;
margin: 5px 0px 5px 0px;
padding: 15px;
width: 67%;
border-radius: 5px;
border: none;
background-color: rgb(245, 245, 245);
box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.404);}

#sub {margin: 8px 0px;
width: 95%;
padding: 15px;
font-weight: bold;
font-size: 14px;
background-color: rgb(0, 0, 255);
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.541);}

#sub:hover {background-color: var(--azulBebe);
color: black;}

a {display: block;
padding: 15px 0px 15px 0px;
margin-left: 40px;
width: 180px;}

a:hover {color: #00A7E1;}



/* -- REAJUSTES PARA TELAS PEQUENAS ACIMA DE 375px DE LARGURA-- */
@media screen and (min-width: 375px) and (max-width: 500px) {


    .campo {width: 75%; margin: 5px 0px;}

    #formulario {height: 325px;
    margin: auto;}

    label {padding-left: 0px;}

    a {margin: 0px; padding: 15px 0px;}
}



/* -- AJUSTES PARA IPHONE 8 (tela de até 375px de largura) -- */
@media screen and (min-width: 240px) and (max-width: 375px) {
    .campo {width: 160px;}
    label {padding: 0px;}
    #formulario {margin-top: -60px;}
    a {display: inline-block; margin: auto;}
}



/* -- VERSÃO DE TABLETS (768px até 992px) --*/
@media screen and (min-width: 768px) and (max-width: 992px) {


    label {margin-left: 0px;}
    .campo {width: 70%; display: inline-block; margin: auto; margin: 5px 0px;}
    a {display: block; margin: auto;}
}